*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --inside-size: calc(var(--cell-size) * .7);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
body .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .column .TicTacToe {
  border-bottom: none;
  min-height: 80vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .column .TicTacToe .points {
  display: flex;
  padding-block: 10px;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body .column .TicTacToe .points .x_points,
body .column .TicTacToe .points .o_points {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px #ddd solid;
  outline: transparent;
  border-bottom: 3px solid blue;
  border-radius: 10px;
  width: 20vw;
  height: auto;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
}
body .column .TicTacToe .points .x_points .x_span,
body .column .TicTacToe .points .o_points .x_span {
  opacity: 0.5;
}
body .column .TicTacToe .game-area {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0px;
}
body .column .TicTacToe .game-area .cell {
  border: 3px chocolate solid;
  height: var(--cell-size);
  width: var(--cell-size);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}
body .column .TicTacToe .game-area .cell:first-child, body .column .TicTacToe .game-area .cell:nth-child(2), body .column .TicTacToe .game-area .cell:nth-child(3) {
  border-top: none;
}
body .column .TicTacToe .game-area .cell:nth-child(3n+1) {
  border-left: none;
}
body .column .TicTacToe .game-area .cell:nth-child(3n+3) {
  border-right: none;
}
body .column .TicTacToe .game-area .cell:nth-child(7), body .column .TicTacToe .game-area .cell:nth-child(8), body .column .TicTacToe .game-area .cell:nth-child(9) {
  border-bottom: none;
}
body .column .TicTacToe .game-area .cell .x {
  width: var(--inside-size);
  height: var(--inside-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: not-allowed;
}
body .column .TicTacToe .game-area .cell .x:hover {
  display: block;
}
body .column .TicTacToe .game-area .cell .x::before, body .column .TicTacToe .game-area .cell .x::after {
  content: "";
  position: absolute;
}
body .column .TicTacToe .game-area .cell .x::before {
  background-color: black;
  width: calc(var(--cell-size) * 0.1);
  height: var(--inside-size);
  transform: rotate(45deg);
}
body .column .TicTacToe .game-area .cell .x::after {
  background-color: black;
  width: calc(var(--cell-size) * 0.1);
  height: var(--inside-size);
  transform: rotate(-45deg);
}
body .column .TicTacToe .game-area .cell .o {
  width: var(--inside-size);
  height: var(--inside-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .column .TicTacToe .game-area .cell .o::before, body .column .TicTacToe .game-area .cell .o::after {
  content: "";
  position: absolute;
}
body .column .TicTacToe .game-area .cell .o::before {
  background-color: black;
  width: var(--inside-size);
  height: var(--inside-size);
  border-radius: 50%;
}
body .column .TicTacToe .game-area .cell .o::after {
  background-color: white;
  width: calc(var(--inside-size) * 0.75);
  height: calc(var(--inside-size) * 0.75);
  border-radius: 50%;
}
body .column button {
  font-size: 2rem;
  border: transparent;
  outline: transparent;
  border-radius: 20px;
  padding-inline: 10px;
  cursor: pointer;
  color: chocolate;
  font-weight: 900;
  transform: translateY(-50px);
}
body .column button:hover {
  color: white;
  background-color: chocolate;
}
body .restart-game {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgray;
  opacity: 0.95;
  justify-content: center;
  align-items: center;
}
body .restart-game .winner {
  font-size: 3rem;
  font-weight: 900;
}
body .restart-game input {
  font-size: 2rem;
  border: transparent;
  outline: transparent;
  border-radius: 20px;
  padding-inline: 10px;
  cursor: pointer;
  border: 3px red solid;
}
body .restart-game input:hover {
  color: white;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
